/* images path should use the environment variable
    
   .bg {
    background-image: url(#{$images_path}images/placeholder-img.jpg;)
   }
*/


.text-regular {
  font-weight: $font-weight-regular;
}
.text-bold {
  font-weight: $font-weight-bold;
}
/* .text-xbold {
  font-weight: $font-weight-xbold;
} */
