/* Typography */
$line-height-base            : 1.2;
$line-height-compact         : 1.2;
$headings-line-height        : 1.2;

$font-weight-light      : 300;
$font-weight-regular    : 400;
$font-weight-bold       : 600;

/* Fonts */
$font-sans-serif             : Arial, sans-serif;
$font-sans-serif-bold        : $font-sans-serif;
$font-sans-serif-xbold       : $font-sans-serif;
$font-family-serif           : Georgia, "Times New Roman", Times, serif;
$brand-font                  : $font-sans-serif;


/* Font Sizes */

$font-size-base              : 1rem;


