<!doctype html>
<html class="no-js" lang="">

  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Homepage</title>

    {{> header-css-default }}

  </head>

  <body>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, aliquid?</p>
    <img src="{{img_url}}placeholder-img.jpg" alt="">

    {{> example-shared-content}}

    {{> scripts-default}}
  </body>

</html>
