<!doctype html>
<html class="no-js" lang="">

  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Site | Home</title>

    {{> header-css-default }}

  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1>Home</h1>
          <p class="text-regular">REGULAR Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, autem.</p>
          <p class="text-bold">BOLD Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, autem.</p>
          <p class="text-xbold">EXTRA BOLD Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, autem.</p>
          <img src="{{img_url}}placeholder-img.jpg" alt="">

        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
    </div>

    {{!-- {{> example-shared-content}} --}}

    {{> scripts-default}}
  </body>

</html>
